.App{
  background-color: rgb(230, 120, 206);
  height: 100vh;
}

.Price-charts{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  grid-gap: 1rem;
  gap: 1rem;
  justify-items: center;
  padding-top: 50px;
  padding-bottom: 50px
}

.charts{
  display: block;

  border-radius: 20px;
  width: 80%;
  background-color: whitesmoke;
}

h1{
  font-size: 50px;
}

h4{
  font-weight: bold;
  color: lightgrey;
}

h3{
  font-weight:400;
  font-size: 20px;
}

.head{
  text-align: center;
}


.price{
  display: inline;
}

.services{
  margin-left: 30px;
}

hr{
  width: 90%;
}

.mute{
  opacity: 0.7;
}

button{
  width: 95%;
  margin: 10px 10px;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: rgb(174, 43, 179);
  opacity: 0.5;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 0ch
}

.charts:hover{

    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    
}

.charts:hover button{
  opacity: 1;
}

button:hover{
  opacity: 2;
  background-color: rgb(81, 81, 233);
  cursor: pointer;
}